{% extends "layouts/plain.html.j2" %}


{% block title %}Login{% endblock %}


{% block body_class %}page-login{% endblock %}


{% block main %}
  <div class="is-flex is-align-items-center is-justify-content-center h-full">

    <div class="login-prompt box">

      <h1 class="title">
        Voy Login
      </h1>

      <form action="/login" method="POST">

        <div class="field mb-5">
          <label class="label">
            Your Abbreviation
          </label>
          <div class="control">
            <input type="text" class="login-prompt__input--abbreviation input is-medium" name="abbreviation" placeholder="XMP" autofocus="autofocus" required />
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">
            Your Password
          </label>
          <div class="control">
            <input type="password" class="input is-medium" name="password" required />
          </div>
        </div>

        <div class="field mb-5">
          <div class="control">
            <button class="button is-primary is-medium">Login</button>
          </div>
        </div>

        <div class="field">
          <div class="control has-text-right">
            <a href="/forgot_passwd">I forgot my password</a>
          </div>
        </div>

      </form>

    </div>

  </div>

</div>
{% endblock %}
