{% extends "base.html" %} {% block title %} User Permissions {% endblock %} {%
    block content %} {% if current_user.is_authenticated %}
    <h1 class="title">User Permission</h1>
    <br />
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Role</th>
          <th scope="col">Permission</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user.abbrev }}</td>
          <td>{{ user.role }}</td>
          <td>
            <!-- overgive the edit page the id -->
            <!-- <a href="{{ url_for('auth.permissions', id=user.id) }}">edit</a> -->
          </td>
          
        </tr>
      </tbody>
    </table>
    {% endif %} {% endblock %}
    