{% extends "base.html" %} {% block title %} Create Users {% endblock %} {% block
content %}
<div>
  {%- for breadcrumb in breadcrumbs -%}
  <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
  {{ '/' if not loop.last }} {%- endfor -%}
</div>
<div class="column is-4 is-offset-4">
  <h1 class="title">Create Users</h1>

  <div class="box">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-success">{{ messages[0] }}</div>
    {% endif %} {% endwith %}
    <form action="/add_user" method="POST">
      <div class="field">
        <div class="control">
          <input
            autofocus=""
            class="input is-large"
            name="email"
            placeholder="eMail"
            required
            maxlength="100"
            type="email"
          />
        </div>
      </div>
      <div class="field">
        <select name="role" width="300px">
          {% for role in Roles %}
          <option required value="{{ role }}">{{ role }}</option>

          {% endfor %}
        </select>
      </div>

      <div class="field">
        <div class="control">
          <input
            autofocus=""
            class="input is-large"
            name="abbreviation"
            placeholder="Abbreviation"
            required
            maxlength="5"
            type="text"
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            name="password"
            placeholder="Password"
            required
            type="password"
          />
        </div>
      </div>
      <br>
      <button class="btn btn-primary">
        submit
      </button>
    </form>
    <a href="{{ url_for('users_module.user_management')}}">abort</a>
  </div>
</div>
{% endblock %}
