{% extends "base.html" %} {% block title %} Hello Admin {% endblock %} {%
block content %}
<div class="column is-4 is-offset-4">
  <h1 class="title">Hello Admin</h1>

  <div class="box">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-success">{{ messages[0] }}</div>
    {% endif %} {% endwith %}
    <form method="POST">
      <div class="field">
        <div class="control">
          <input
            autofocus=""
            class="input is-large"
            name="email"
            placeholder="eMail"
            required
            type="email"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            autofocus=""
            class="input is-large"
            name="abbreviation"
            placeholder="Abbreviation"
            required
            type="text"
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            name="password"
            placeholder="Password"
            required
            type="password"
          />
        </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">
        submit
      </button>
    </form>
  </div>
</div>
{% endblock %}
