.layout.layout--page {
  display: grid;

  grid-template:
  "navigation" 56px
  "      main" 1fr
  "    footer" 66px
  /       1fr;

  .layout {

    &__navigation {
      grid-area: navigation;

      &,
      .panel-heading {
        border-radius: unset;
      }
    }

    &__main {
      margin-top: 80px;
    }
  }

  .flashes .column {
    transform: translateY(-32px);
  }
}
