<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

  <title>{% block title %}{% endblock %} - Voy</title>

  {% block main_styles %}
      <link rel="stylesheet" href="{{ url_for('static', filename='bundle/main.css', v='1.0.0') }}" />
  {% endblock %}

  {% block styles %}{% endblock %}

</head>

<body class="layout {% block body_class %}{% endblock %}">

{% if self.header() %}
  <header>
    {% block header %}{% endblock %}
  </header>
{% endif %}

<main class="layout__main">
  {% block main %}{% endblock %}
</main>

<footer class="layout__footer footer py-5">
  {% block footer %}
    {% include "layout/footer-content.html.j2" %}
  {% endblock %}
</footer>

{% block main_scripts %}
  <script src="{{ url_for('static', filename='bundle/main.js', v='1.0.0') }}" type="text/javascript"></script>
{% endblock %}

{% block scripts %}{% endblock %}

</body>
</html>

