<link
  crossorigin="anonymous"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  rel="stylesheet"
/>
<br/>
<blockquote class="blockquote">
  <p class="mb-0">{{ post.new_comment }}</p>
  <footer class="blockquote-footer">
    {{ post.abbreviation }}, {{post.created_at}}
  </footer>
</blockquote>
