<!-- templates/profile.html -->

{% from "./utils/_errors.html.j2" import render_errors %}

{% extends "base.html.j2" %}

{% block title %}
Mein Profile
{% endblock %}

{% block content %}
<div>
  {%- for breadcrumb in breadcrumbs -%}
  <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
  {{ '/' if not loop.last }}
  {%- endfor -%}
</div>
<h1 class="title">
  Welcome, {{ name }}!
</h1>

<div class="column is-4 is-offset-4">

  {{ render_errors(errors) }}

  <h3 class="title">Change Password
    <a
      data-target="#password_Modal"
      data-toggle="modal"
      href="#"
      style="color: blue;">
      <i class="fas fa-question-circle"></i>
    </a>
    <div
      aria-hidden="true"
      aria-labelledby="password_Modal"
      class="modal fade"
      id="password_Modal"
      role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="password_Modal_label">password policy:</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <blockquote class="blockquote">
            <h4 class="mb-0" class="content is-large">
              &#8805 12 charactes <br>
              &#8805 1 upper case letter <br>
              &#8805 1 lower case letter <br>
              &#8805 1 number <br>
              different to previous password <br>
            </h4>
          </blockquote>

          </div>
        </div>
      </div>
    </div>
  </h3>
  <div class="box">
    <form action="/profile" method="POST">
      <div class="form-group">
        <div class="control">
          <input autofocus="" class="input is-large" name="oldpassword" placeholder="Your Old Password" maxlength="40" required
                 type="password">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input autofocus="" class="input is-large" name="password1" placeholder="Your New Password" maxlength="40" required
                 type="password">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" name="password2" placeholder="Again your new Password" maxlength="40" required type="password">
        </div>
      </div>
      <br>
      <div class="field">
        <button class="btn btn-primary">Change Password</button>
    </form>
  </div>
</div>
{% endblock %}
