{% extends 'layout-prompt.html.j2' %}


{% block title %}Login{% endblock %}

{% block content %}
  <h1 class="title">
    Voy Login
  </h1>

  <form action="{{ url_for('authentication_controller.login_post') }}" method="POST">

    <div class="field mb-5">
      <label class="label">
        Your Abbreviation
      </label>
      <div class="control">
        <input type="text" class="login-prompt__input--abbreviation input is-medium is-uppercase" name="user_abbreviation" placeholder="XMP" autofocus="autofocus" required />
      </div>
    </div>

    <div class="field mb-5">
      <label class="label">
        Your Password
      </label>
      <div class="control">
        <input type="password" class="input is-medium" name="user_password" required />
      </div>
    </div>

    <div class="field mb-5">
      <div class="control">
        <button class="button is-primary is-medium">Login</button>
      </div>
    </div>

    <div class="field">
      <div class="control has-text-right">
        <a href="{{ url_for('profile_controller.request_password_reset') }}">I forgot my password</a>
      </div>
    </div>

  </form>
{% endblock %}
