# Repo files
.cache/
.github/
.idea/
.letsencrypt/
.pytest_cache/
.vscode/
backups/
data-exports/
docker/
docs/
logs/*
node_modules/
venv/
/voy/view/static
.dockerignore
.editorconfig
.env
*.env
.gitignore
babel.config.json
Dockerfile
Makefile
notes.md
notes.txt
ofelia.example.ini
ofelia.ini
project_overview.png
voy.sh
yarn-error.log

# General ignores
.DS_Store
*.log
*.sqlite
*.sql
*.xlsx
*.env
.env
.flaskenv
env/
env*
!/migrations/env.py

# Build, Test and Cache files
*,cover
*.egg
*.egg-info/
*.pyc
*.pyo
*.tgz
.cache/
.coverage
.coverage.*
.parcel-cache/
.tox/
_mailinglist
build
docs/_build/
htmlcov/
instance/
