# OS Files
.DS_Store

# IDE
.idea/
.vscode

# Sensitive files
*.log
*.sqlite
*.sql
*.xlsx
.env
.flaskenv
backups/*
!/backups/.gitkeep
env/
env*
!/migrations/env.py
ofelia.ini
/data-exports
/.letsencrypt

# Build, Test and Cache files
*,cover
*.egg
*.egg-info/
*.pyc
*.pyo
*.tgz
.cache/
.coverage
.coverage.*
.parcel-cache/
.pytest_cache/
.tox/
_mailinglist
build
docs/_build/
htmlcov/
instance/
node_modules/
venv/
/voy/view/static

# Custom
c_test/
notes.txt
