.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
env*
!/migrations/env.py
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.parcel-cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
node_modules/
build
*.tgz
instance/

# Backups
/backups/*
!/backups/.gitkeep
/ofelia.ini

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Custom 
c_test/
notes.txt

# Compliance data
*.log
*.sqlite
*.sql
*.xlsx
query_DataFrame.pdf 
query_DataFrame.html

/voy/view/static/bundle

/voy/controller/query_downloads/*
!/voy/controller/query_downloads/readme.md
