.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Custom 
c_test/
notes.txt
# Compliance data
.log_files/
*.sqlite
*.xlsx
query_DataFrame.pdf 
query_DataFrame.html
