alembic==1.7.1
arrow==0.17.0
blinker==1.4
click==7.1.2
et-xmlfile==1.1.0
Flask==1.1.4
Flask-Breadcrumbs==0.5.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Menu==0.7.2
Flask-Migrate==2.6.0
Flask-SQLAlchemy==2.4.4
greenlet==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.5
MarkupSafe==2.0.1
numpy==1.21.2
openpyxl==3.0.9
pandas==1.2.5
pdfkit==0.6.1
psycopg2==2.8.6
python-dateutil==2.8.2
python-dotenv==0.15.0
python-json-logger==2.0.2
pytz==2021.1
PyYAML==5.4.1
six==1.16.0
SQLAlchemy==1.4.23
uuid==1.30
Werkzeug==1.0.1
