{% extends 'layout-prompt.html.j2' %}


{% from "components/password-field.html.j2" import render_password_field %}


{#############################################################################}
{# META                                                                      #}
{#############################################################################}

{% block title %}Login{% endblock %}


{#############################################################################}
{# CONTENT                                                                   #}
{#############################################################################}

{% block content %}
  <h1 class="title">
    Voy Login
  </h1>

  <form action="{{ url_for('authentication_controller.login_post') }}" method="POST">

    <div class="field mb-5">
      <label class="label">
        Your Abbreviation
      </label>
      <div class="control">
        <input type="text" class="login-prompt__input--abbreviation input is-medium is-uppercase" name="user_abbreviation" placeholder="XMP" autofocus="autofocus" required />
      </div>
    </div>

    {{ render_password_field('Your Password', 'user_password', {
      'classes': 'mb-5',
      'input_classes': 'is-medium',
    }) }}

    <div class="field is-grouped is-grouped-right mb-5">
      <div class="control">
        <button class="button is-primary is-medium">Login</button>
      </div>
    </div>

    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <a href="{{ url_for('profile_controller.request_password_reset') }}">I forgot my password</a>
      </div>
    </div>

  </form>
{% endblock %}


{#############################################################################}
{# MACROS                                                                    #}
{#############################################################################}
