{% extends 'layout.html.j2' %}

{% block title %}
Edit Data
{% endblock %}

{% block content %}

{% include "utils/_breadcrumbs.html.j2" %}

<h1>Edit Data</h1>

<form class="needs-validation" method="post" novalidate>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="study_uuid">Study ID</label>

      <select class="form-control" name="study_uuid" required width="300px">
        <option SELECTED value="{{ ticket_data.study_uuid }}">{{ ticket_data.study.internal_id }}</option>
        <option disabled="disabled">----</option>

        {% for study in study_list %}
          <option value="{{ study.uuid }}">
            {{ study.internal_id }} {% if not study.is_active %} (inactive) {% endif %}
          </option>
        {% endfor %}

      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="type">Document-Type :</label>
      <select class="form-control" name="type" required>
          <option value="Source"{% if ticket_data.type=="Source" %} selected="selected"{% endif %}>Source</option>
            <option value="ICF"{% if ticket_data.type=="ICF" %} selected="selected"{% endif %}>ICF</option>

      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="source_number">Scr No</label>
      <div class="form-group">
        <input class="form-control" name="source_number"
               required
               type="number" min="0" max="99999999"
               value="{{ ticket_data.source_number }}">
      </div>
    </div>
    <table class="table" data-ticket-table id="data_entry_table" novalidate>
      <thead class="thead-light">
      <tr>
        <th scope="col">Visit</th>
        <th scope="col">Page</th>
        <th scope="col">Procedure</th>
        <th scope="col">Description</th>
        <th scope="col">Responsible</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="form-group">
            <input class="form-control" name="visit"
                   required
                   type="text"
                   maxlength="10"
                   value="{{ ticket_data.visit }}">
          </div>
        </td>

        <td>
          <div class="form-group">
            <input class="form-control" name="page"
                   required
                   type="text"
                   maxlength="10"
                   value="{{ ticket_data.page }}">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input class="form-control" name="procedure"
                   required
                   type="text"
                   maxlength="20"
                   value="{{ ticket_data.procedure }}">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input class="form-control" name="description"
                   required
                   maxlength="100"
                   type="text"
                   value="{{ ticket_data.description }}">
          </div>
        </td>
        <td>
          <div class="form-group">
            <select name="assignee_id" width="300px">
              <option SELECTED value="{{ ticket_data.assignee_uuid }}">{{ ticket_data.assignee.abbreviation }}</option>
              <option disabled="disabled">----</option>

              {% for user in staff_list_medops %}
                <option value="{{ user.uuid }}">
                  <!-- if user is not active yet, display it -->
                  {{ user.abbreviation }} {% if not user.is_active %} (inactive) {% endif %}
                </option>
              {% endfor %}
            </select>
          </div>
        </td>
      </tr>

    </table>
    <div class="form-group">
      <button class="btn btn-primary" id="submit_table" style="margin-left: 50%" type="submit">Submit</button>
    </div>
</form>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='bundle/edit_data.js', v='1.0.0') }}" type="text/javascript"></script>
{% endblock %}
