{% extends 'layout.html.j2' %}

{% block title %}Data Entry{% endblock %}

{% block content %}

{% include "utils/_breadcrumbs.html.j2" %}

<h1>Data Entry</h1>

<form class="needs-validation" method="post" novalidate action="{{ url_for('ticket_controller.new_post') }}">
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="study_id">Study ID</label>

      <select class="form-control" name="study_id" required width="300px">
        <option disabled selected value> -- select an option --</option>
        <option disabled="disabled">----</option>

        {% for study in study_list %}
          <option value="{{ study.id }}">
            {{ study.internal_id }} {% if not study.is_active %} (inactive) {% endif %}
          </option>
        {% endfor %}

      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="type">Document-Type :</label>
      <select class="form-control" name="source_type" required>
        <option disabled selected value> -- select an option --</option>
        <option disabled="disabled">----</option>

        {% for source_type in available_source_types %}
          <option value="{{ source_type }}">
            {{ source_type }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="source_number">Scr No</label>
      <input class="form-control" name="source_number" required
             type="number" min="0" max="99999999" value="{{ request.form['source_number'] }}"></input>
    </div>
  </div>
  <br>

  <table class="table" data-ticket-table id="data_entry_table" novalidate>
    <thead class="thead-light">
    <tr>
      <th scope="col">Visit</th>
      <th scope="col">Page</th>
      <th scope="col">Procedure</th>
      <th scope="col">Description</th>
      <th scope="col">Responsible</th>

    </tr>
    </thead>
    <tbody>
    <!-- ein attribut, den es nur für uns gibt 'data-ticket-row' -->
    <tr data-ticket-row>
      <td>
        <div class="form-group">
        <input class="form-control" name="row[][visit]"
               placeholder="which visit?" type="text" maxlength="10"
               value="{{ request.form['visit'] }}" required></input>
        </div>
      </td>

      <td>
        <div class="form-group">
          <input class="form-control" name="row[][page]"
                 placeholder="which page?" type="text" maxlength="10"
                 value="{{ request.form['page'] }}" required></input>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input class="form-control" name="row[][procedure]"
                 placeholder="VS / ECG / ... ?" type="text" maxlength="20"
                 value="{{ request.form['title'] }}" required></input>
        </div>
      </td>
      <td>
        <div class="form-group">
              <textarea class="form-control" name="row[][description]"
                        placeholder="Please describe your finding"
                        maxlength="100"
                        required>{{ request.form['description'] }}</textarea>
        </div>

      </td>
      <td>
        <div class="form-group">
          <select class="form-control" name="row[][assignee_id]" required width="300px">
            <option disabled selected value> -- select an option --</option>
            <option disabled="disabled">----</option>

            {% for user in staff_list_medops %}
              <option value="{{ user.id }}">
                <!-- if user is not active yet, display it -->
                {{ user.abbreviation }} {% if not user.is_active %} (inactive) {% endif %}
              </option>
            {% endfor %}

          </select>
        </div>
      </td>
    </tr>
    </tbody>

  </table>
  <div class="form-group">
    <button class="btn btn-primary" id="submit_table" style="margin-left: 50%" type="submit">Submit</button>
    <button class="btn btn-primary" id="remove_row" type="button">remove row</button>
    <button class="btn btn-primary" id="add_row" style="float: right;" type="button">add row</button>



  </div>
</form>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='bundle/data_entry.js', v='1.0.0') }}" type="text/javascript"></script>
{% endblock %}
