{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="notification is-{{ category }}">
      {{ message }}
    </div>
  {% endfor %}
{% endwith %}
