{% from "utilities/_errors.html.j2" import render_errors %}

{% extends 'layout.html.j2' %}

{% block title %}
Mein Profil
{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Welcome to KAIZN. Please change your password
    <a
      data-target="#password_Modal"
      data-toggle="modal"
      href="#"
      style="color: blue;">
      <i class="fas fa-question-circle"></i>
    </a>
    <div
      aria-hidden="true"
      aria-labelledby="password_Modal"
      class="modal fade"
      id="password_Modal"
      role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="password_Modal_label">password policy:</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <blockquote class="blockquote">
            <h4 class="mb-0" class="content is-large">
              &#8805 12 charactes <br>
              &#8805 1 upper case letter <br>
              &#8805 1 lower case letter <br>
              &#8805 1 number <br>
              different to previous password <br>
            </h4>
          </blockquote>

          </div>
        </div>
      </div>
    </div>
  </h3>
  <div class="box">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification is-danger">
          {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}

    {{ render_errors(errors) }}

    <form action="{{ url_for('profile_controller.reset_password_post') }}" method="POST">
      <div class="field">
        <div class="control">
          <input autofocus="" class="input is-large" name="user_abbreviation" placeholder="Your Abbreviation" required
                 type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="control">
          <input autofocus="" class="input is-large" name="password_old" placeholder="The System Password"
                 required type="password">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input autofocus="" class="input is-large" name="password_new" placeholder="Your New Password" required
                 type="password">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" name="password_new_repetition" placeholder="Again your new Password" required type="password">
        </div>
      </div>
      <br>
      <div class="field">
        <button class="btn btn-primary">Change password</button>
    </form>
  </div>
</div>
{% endblock %}
