<div
  {# We have the `is-active` class permanently added. The showing and hiding of the modal is done by Alpine. #}
  class="modal-ticket-comments modal is-active"
  {# This is to prevent the modal from flashing on initial page load. #}
  style="display: none;"

  x-data="modal_ticket_comments"
  x-show="isOpen"
  x-trap="isOpen"
  x-transition.opacity.duration.220ms

  @show-ticket-comments.document="open($event)">

  <div class="modal-background" @click="close()"></div>

  <div class="modal-ticket-comments__content modal-card">

    <header class="modal-card-head">
      <p
        class="modal-card-title"
        x-text="`Comments for Query #${ticketId}`"></p>
    </header>

    <section
      class="modal-card-body p-0 is-clipped is-relative">

      <div
        class="modal-card-body h-full"
        x-html="renderedComments">
      </div>

      <div
        class="is-soft-flex is-overlay is-justify-content-center is-align-items-center has-background-light"
        x-show="isOpen && isInitializing"
        x-transition.opacity.duration.220ms>
        {% include "utilities/_spinner.html.j2" %}
      </div>

    </section>

    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>

  </div>

  <button class="modal-close is-large" aria-label="close" @click="close()"></button>

 </div>
