<div class="container content has-text-right mb-0 is-size-7">
  <p>
    <strong>Voy</strong> by <a href="https://kaizn.io">KAIZN</a>.The source code is licensed
    <a href="http://www.apache.org/licenses/">Apache License Version 2.0</a>.
  </p>
</div>
