<nav class="menu">

  <p class="menu-label">
    General
  </p>

  <ul class="menu-list">
    <li>
      <a href="{{ url_for('dashboard_controller.index') }}">
        Dashboard
      </a>
    </li>
  </ul>

  {# <p class="menu-label">
    Administration
  </p>

  <ul class="menu-list">
    {% if (current_user.is_authenticated) and (current_user.role == 'Admin' or current_user.role == 'Data Manager') %}
      <li>
        <a href="{{ url_for('study_controller.new') }}">
          Studies
        </a>
      </li>
    {% endif %}
    {% if (current_user.is_authenticated) and (current_user.role == 'Admin' or current_user.role == 'Data Manager') %}
      <li>
        <a href="{{ url_for('user_controller.index') }}">
          Users
        </a>
      </li>
    {% endif %}
  </ul> #}

  <p class="menu-label">
    Account
  </p>

  <ul class="menu-list">
    <li>
      <a href="{{ url_for('profile_controller.profile') }}">
        Profile
      </a>
    </li>
    <li>
      <a href="{{ url_for('authentication_controller.logout') }}">
        Logout
      </a>
    </li>
  </ul>

</nav>
