{% macro render_password_field(label, name, classes='', input_classes='') %}
  <div class="password-field field {{ classes }}" x-data="password_input">

    <label class="label">{{ label }}</label>

    <div class="control has-icons-right">

      <input
        class="password-field__input input {{ input_classes }}"
        :class="{
          'is-danger': isTouched && !areAllConditionsMet,
          'is-success': isTouched && areAllConditionsMet && score === 4,
        }"
        :type="isVisible ? 'text' : 'password'"
        name="{{ name }}"
        @input="evaluatePassword($el.value)" />

      <button
        class="password-field__visibility-toggle button is-ghost icon is-right is-small"
        type="button"
        @click="toggleVisibility()">
        <i
          x-show="isVisible"
          class="fa-solid fa-eye-slash"></i>
        <i
          x-show="!isVisible"
          class="fa-solid fa-eye"></i>
      </button>


      <div class="password-field__score mb-2">

        <progress
          class="password-field__score__indicator progress mb-0"
          :class="{
            'is-danger':  score === 1,
            'is-warning': score === 2,
            'is-info':    score === 3,
            'is-success': score === 4,
          }"
          :value="`${score}`"
          max="4">
        </progress>

        <div
          class="password-field__score__message"
          x-text="`Password strength: ${scoreMessage}`">
        </div>

      </div>

    </div>

    <ul class="is-flex">
      <template x-for="condition in conditions" :key="condition.label">
        <li
          class="mr-4"
          :class="{
            'has-text-danger': !condition.isValid,
            'has-text-success': condition.isValid
          }">

          <i
            x-show="condition.isValid"
            class="fa-solid fa-circle-check">
          </i>

          <i
            x-show="!condition.isValid"
            class="fa-solid fa-circle-xmark">
          </i>

          <span x-text="condition.label"></span>

        </li>
      </template>
    </ul>

  </div>
{% endmacro %}
