{% macro render_password_field(label, name, classes='', input_classes='') %}
  <div class="password-field field {{ classes }}" x-data="password_input">

    <label class="label">{{ label }}</label>

    <div class="control">
      <input
        class="password-field__input input {{ input_classes }}"
        :class="{
          'is-danger': isTouched && !areAllConditionsMet,
          'is-success': isTouched && areAllConditionsMet && score === 4,
        }"
        type="password"
        name="{{ name }}"
        @input="evaluatePassword($el.value)">
    </div>

    <progress
      class="password-field__score progress mb-2"
      :class="{
        'is-danger':  score === 1,
        'is-warning': score === 2,
        'is-info':    score === 3,
        'is-success': score === 4,
      }"
      :value="`${score}`"
      max="4">
      Password strength
    </progress>

    <ul class="is-flex">
      <template x-for="condition in conditions" :key="condition.label">
        <li
          class="mr-4"
          :class="{
            'has-text-danger': !condition.isValid,
            'has-text-success': condition.isValid
          }">

          <i
            x-show="condition.isValid"
            class="fa-solid fa-circle-check">
          </i>

          <i
            x-show="!condition.isValid"
            class="fa-solid fa-circle-xmark">
          </i>

          <span x-text="condition.label"></span>

        </li>
      </template>
    </ul>

  </div>
{% endmacro %}
