.password-field {

  &__input {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__score {
    border: 1px solid $input-border-color;
    border-top: none;
    border-radius: $input-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    background-color: $input-background-color;
    color: $input-color;

    &__indicator {
      border-radius: 0;
    }

    &__message {
      padding: .125rem .25rem;
      font-size: .75rem;
    }
  }

  &__input:hover ~ &__score,
  &__input.is-hovered ~ &__score {
    border-color: $input-hover-border-color;
  }

  &__input:focus ~ &__score,
  &__input.is-focused ~ &__score,
  &__input:active ~ &__score,
  &__input.is-active ~ &__score {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
  }

  &__input.is-danger ~ &__score {
    border-color: $danger;
  }

  &__visibility-toggle {
    pointer-events: all !important;
    cursor: pointer;

    &:hover {
      text-decoration: none !important;
    }
  }
}
