{% macro render_password_repeat_field(label, name, classes='', input_classes='') %}
  <div class="password-repeat-field field {{ classes }}" x-data="password_repeat_input">

    <label class="label">{{ label }}</label>

    <div class="control has-icons-right">

      <input
        class="password-repeat-field__input input {{ input_classes }}"
        :type="isVisible ? 'text' : 'password'"
        name="{{ name }}" />

      <button
        class="password-repeat-field__visibility-toggle button is-ghost icon is-right is-small"
        type="button"
        @click="toggleVisibility()">
        <i
          x-show="isVisible"
          class="fa-solid fa-eye-slash"></i>
        <i
          x-show="!isVisible"
          class="fa-solid fa-eye"></i>
      </button>

    </div>

  </div>
{% endmacro %}
