.password-field {

  &__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__score {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}
