{% extends 'layout-page.html.j2' %}


{% from "components/section.html.j2" import render_section %}


{#############################################################################}
{# META                                                                      #}
{#############################################################################}

{% block title %}Users{% endblock %}

{% block page_title %}Users{% endblock %}

{% block body_class %}users{% endblock %}


{#############################################################################}
{# CONTENT                                                                   #}
{#############################################################################}

{% block content %}

  {% with %}

    {% set actions %}
      {% if current_user.role == 'Admin' or current_user.role == 'Data Manager' %}
        <a class="button is-primary" href="{{ url_for('user_controller.new') }}">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>
            New User
          </span>
        </a>
      {% endif %}
    {% endset %}

    {% call render_section(
      title='All Users',
      sub_title='Let\'s manage some Users',
      actions=actions) %}
      <table class="users__table table is-striped is-hoverable is-fullwidth">

        <thead class="thead-light">
          <tr>
            <th scope="col">Status</th>
            <th scope="col">User</th>
            <th scope="col">Role</th>
            <th scope="col">Created at</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for user in user_list %}
            {{ render_user(user) }}
          {% endfor %}
        </tbody>

      </table>
    {% endcall %}

  {% endwith %}

{% endblock %}


{#############################################################################}
{# MACROS                                                                    #}
{#############################################################################}

{% macro render_user(user) %}
  <tr class="user">

    <td>
      {% if user.is_active %}
        <span class="tag is-success is-light">
          Active
        </span>
      {% else %}
        <span class="tag is-danger is-light">
          Deactivated
        </span>
      {% endif %}
    </td>

    <td class="is-family-monospace">
      {{ user.abbreviation|upper }}
    </td>

    <td>
      {{ user.role }}
    </td>

    <td>
      {{ user.created_at.humanize() }}
    </td>

    <td class="user__actions">
      {% if user.is_active %}
        <a
          href="{{ url_for('user_controller.deactivate', user_uuid=user.uuid) }}"
          class="button is-info is-light">
          <span class="icon">
            <i class="far fa-times-circle"></i>
          </span>
          <span>
            Deactivate
          </span>
        </a>
      {% else %}
        <a
          href="{{ url_for('user_controller.activate', user_uuid=user.uuid) }}"
          class="button is-info is-light">
          <span class="icon">
            <i class="far fa-check-circle"></i>
          </span>
          <span>
            Activate
          </span>
        </a>
      {% endif %}
    </td>

  </tr>

{% endmacro %}
