{% extends "base.html" %}

{% block title %}
Mein Profil
{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Activate your account</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form action="/activate" method="POST">
      <div class="field">
        <div class="control">
          <input autofocus="" class="input is-large" name="abbreviation" placeholder="Your Abbreviation" required
                 type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="control">
          <input autofocus="" class="input is-large" name="oldPassword" placeholder="The System Password"
                 required type="password">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input autofocus="" class="input is-large" name="password1" placeholder="Your New Password" required
                 type="password">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-large" name="password2" placeholder="Again your new Password" required type="password">
        </div>
      </div>
      <br>
      <div class="field">
        <button class="btn btn-primary">Activate</button>
    </form>
  </div>
</div>
{% endblock %}
