{% extends "base.html" %} {% block title %} Create Users {% endblock %} {%
block content %}
<div>
    {%- for breadcrumb in breadcrumbs -%}
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
        {{ '/' if not loop.last }}
    {%- endfor -%}
</div>
<div class="column is-4 is-offset-4">
  <h1 class="title">Create Users</h1>

  <div class="box">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-success">{{ messages[0] }}</div>
    {% endif %} {% endwith %}
    <form method="POST" action="/add_user">
      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="email"
            name="email"
            placeholder="eMail"
            autofocus=""
            required
          />
        </div>
      </div>
      <div class="field">
        <select name="role" width="300px">
          {% for role in Roles %}
          <option value="{{ role }}" required>{{ role }}</option>

          {% endfor %}
        </select>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="abbreviation"
            placeholder="Abbreviation"
            autofocus=""
            required
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">
        submit
      </button>
    </form>
    <a href="{{ url_for('auth.user_management')}}">abort</a>
  </div>
</div>
{% endblock %}
