<!-- templates/base.html -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- BootstrapCDN CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>{% block title %} {% endblock %}</title>

  </head>

  <body>

    <!-- create the navigation bar on top of the page -->

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <!-- <div class="navbar-end"> -->
        <a class="navbar-brand" href="{{ url_for('main.index')}}">QC-Database</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('main.about')}}">About</a>
              </li> -->
            </ul>
        </div>
        {% if (current_user.is_authenticated) and (current_user.role == 'Admin' or current_user.role == 'Data Manager' or current_user.role == 'Data Entry') %}
        <a class="nav-link" href="{{ url_for('main.create')}}">Data Entry</a>
        {% endif %}
        <!-- in the right corner of the nav bar -->
        <div class="topnav-right">
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                Login
            </a>
            {% endif %}
            {% if (current_user.is_authenticated) and (current_user.role == 'Admin' or current_user.role == 'Data Manager') %}
            <a href="{{ url_for('auth.user_management') }}" class="navbar-item">
              User Management
            </a>
            {% endif %}

            {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.profile') }}" class="navbar-item">
              Profile   
            </a>  
            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                Logout
            </a>
            {% endif %}
        </div>
        
    </nav>
    </div>
    
    <div class="container">
        <!-- für pop-ups / flash message  -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <!-- nachfolger Block wir mit Inhalt ersetzt -->
        {% block content %} {% endblock %}
    </div>

  </body>
</html>
