{% extends 'base.html' %}

{% block title %}
Edit Data
{% endblock %}

{% block content %}
<div>
    {%- for breadcrumb in breadcrumbs -%}
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
        {{ '/' if not loop.last }}
    {%- endfor -%}
</div>
<h1>Edit Data</h1>

<form method="post">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="study_id">Study ID</label>
        <div class="form-group">
          <input type="text" name="study_id"
                  class="form-control"
                  value="{{ data.study_id }}"
                  required>
        </div>
      </div>
      
      <div class="form-group col-md-4">
        <label for="type">Document-Type :</label>
        <select name="type" class="form-control">
            <option value="Source"{% if data.type=="Source" %} selected="selected"{% endif %}>Source</option>
            <option value="ICF"{% if data.type=="ICF" %} selected="selected"{% endif %}>ICF</option>
        </select>
      </div>

      <div class="form-group col-md-2">
        <label for="scr_no">Scr No</label>
        <div class="form-group">
          <input type="text" name="scr_no"
                  class="form-control"
                  value="{{ data.scr_no }}"
                  required>
      </div>
    </div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Visit</th>
          <th scope="col">Page</th>
          <th scope="col">Procedure</th>
          <th scope="col">Description</th>
          <th scope="col">Responsible</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="form-group">
              <input type="text" name="visit"
                      class="form-control"
                      value="{{ data.visit }}"
                      required>
            </div>
          </td>
          
          <td>
               <div class="form-group">
                <input type="text" name="page"
                        class="form-control"
                        value="{{ data.page }}"
                        required>
              </div>
          </td>
          <td>
              <div class="form-group">
                <input type="text" name="procedure"
                        class="form-control"
                        value="{{ data.procedure }}"
                        required>
              </div>
          </td>
          <td>
            <div class="form-group">
              <input type="text" name="description"
                      class="form-control"
                      value="{{ data.description }}"
                      required>
            </div>
          </td>
          <td>    
            <div class="form-group">
            <select name="responsible" width="300px">
              <option value="{{data.responsible}}" SELECTED>{{data.responsible}}</option>
              <option disabled="disabled">----</option>

              {% for user in Users %}
              <option value="{{ user.abbrev }}">{{ user.abbrev }}</option>
              {% endfor %}
            </select> 
        </div>
      </td>
        </tr>
      
    </table>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

{% endblock %}
