{% extends "base.html" %} {% block title %} QC-Datenbank {% endblock %} {% block
content %} {% if current_user.is_authenticated %}
<h1 class="title">QUERIES</h1>
<br />
<form method="post">
    <div class="form-group">
        <label for="type">Download Queries as :</label>
        <select name="download" width="300px">
            {% for download in Download_Type %}
            <option value="{{ download }}" selected required>
                {{ download }}
            </option>

            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Download</button>
    </div>
</form>

<table class="table table-striped" id="table_id" class="display">
    <thead class="thead-light">
        <tr>
            <!-- MedOps is not allowed to see the status of the query -->
            {% if not current_user.role == "MedOps" %}
            <th scope="col">Status</th>
            {% endif %}
            <th scope="col">Study ID</th>
            <th scope="col">Scr No</th>
            <th scope="col">Type</th>
            <th scope="col">Visit</th>
            <th scope="col">Page</th>
            <th scope="col">Procedure</th>
            <th scope="col">Description</th>
            <th scope="col">Created</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts.items %}
        <tr>
            <!-- MedOps is not allowed to see the status of the query -->
            {% if not current_user.role == "MedOps" %} {% if post.corrected == 0
            %}
            <td>
                <span class="badge badge-warning"> Requery </span>
            </td>
            {% else %}
            <td>
                <span class="badge badge-danger"> Open </span>
            </td>
            {% endif %} {% endif %}
            <td>{{ post.study_id }}</td>
            <td>{{ post.scr_no }}</td>
            <td>{{ post.type }}</td>
            <td>{{ post.visit }}</td>
            <td>{{ post.page }}</td>
            <td>{{ post.procedure }}</td>
            <td>{{ post.description }}</td>
            <td>
                <span class="badge badge-primary">{{ post.created }}</span>
            </td>
            <td>
                {% if current_user.role == "MedOps" %}
                <a href="/delete/{{post.id}}">done</a>
                {% endif %}
            </td>
            <td>
                <!-- close the query if you have the right role permission -->
                {% if current_user.role == "Admin" %}
                <a href="/requery/{{post.id}}">requery</a>
                <!-- overgive the edit page the id -->
                <a href="{{ url_for('main.edit', id=post.id) }}">edit</a>
                <a href="/close/{{post.id}}">close</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %} 
    </tbody>
</table>

<ul class="pagination">
    {% if posts.has_prev %}
     <li class="page-item"><a class="page-link" href="{{ url_for('main.qc_database', page_num=posts.prev_num) }}">Previous</a></li>
    {% else %}
     <li class="page-item disabled"><span class="page-link">Previous</span>
    {% endif %}
     </li>
      
    {% for page in posts.iter_pages(left_edge=3, right_edge=3) %}
    {% if page %}
     <li class="page-item"><a class="page-link" href="{{ url_for('main.qc_database', page_num=page) }}">{{ page }}</a></li>
    {% else %}
     <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
    {% endif %}
    {% endfor %}
    
    {% if posts.has_next %}
     <li class="page-item"><a class="page-link" href="{{ url_for('main.qc_database', page_num=posts.next_num) }}">Next</a></li>
    {% else %}
     <li class="page-item disabled"><span class="page-link">Next</span>
    {% endif %}
</ul>


{% endif %} {% endblock %}
