{% extends "base.html" %}

{% block title %} QC-Database {% endblock %}

{% block content %}

{% if current_user.is_authenticated %}

<div>
  {%- for breadcrumb in breadcrumbs -%}
  <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
  {{ '/' if not loop.last }}
  {%- endfor -%}
</div>

<h1 class="title">
  QUERIES
</h1>

<br/>

<form method="post">
  <div class="form-group">

    <label>
      Download Queries as :

      <select name="download" width="300px">
        {% for download in Download_Type %}
        <option required value="{{ download }}">
          {{ download }}
        </option>
        {% endfor %}
      </select>
    </label>

    <button class="btn btn-primary" name="button" type="submit" value="download_button">
      Download
    </button>
  </div>
</form>

<table class="table" class="display" id="query_table">

  <caption>
    These were all your Queries
  </caption>

  <thead class="thead-light">
  <tr>
    <th scope="col">Status</th>
    <th scope="col">Study ID</th>
    <th scope="col">Scr No</th>
    <th scope="col">Type</th>
    <th scope="col">Visit</th>
    <th scope="col">Page</th>
    <th scope="col">Procedure</th>
    <th scope="col">Description</th>
    <th scope="col">Created on</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>

  <tbody>
  {% for post in posts %}

  <tr>
    {% if (post.corrected == 0 and post.close ==1) %}
    <td>
      <span class="badge badge-warning"> Requery </span>
    </td>
    {% elif (post.close ==0) %}
    <td>
      <span class="badge badge-success">Closed</span>
    </td>
    {% else %}
    <td>
      <span class="badge badge-danger"> Open </span>
    </td>
    {% endif %}

    <td>{{ post.study_id }}</td>
    <td>{{ post.scr_no }}</td>

    {% if post.type == "ICF" %}
    <td>
      <span class="badge badge-info"> ICF </span>
    </td>
    {% elif post.type == "Source" %}
    <td>
      <span class="badge badge-secondary"> Source </span>
    </td>
    {% else %}
    <td>{{ post.type }}</td>
    {% endif %}

    <td>{{ post.visit }}</td>
    <td>{{ post.page }}</td>
    <td>{{ post.procedure }}</td>
    <td>{{ post.description }}</td>
    <td>{{ post.created }}</td>

    <td>

      <a
        data-id="{{post.id}}"
        data-target="#requery_Modal"
        data-toggle="modal"
        href="#" >
        <i class="far fa-comments"></i>
      </a>

      {% if current_user.role == "MedOps" %}
      <i class="fas fa-check"></i>
      <a href="/delete/{{post.id}}">done</a>
      {% endif %}

      <!-- close the query if you have the right role permission -->
      {% if (current_user.role == "Admin" or current_user.role == "Data Entry" or current_user.role == "Data Manager") %}
      <!-- overgive the edit page the id -->
      <a href="{{ url_for('qc_database.edit_data', id=post.id) }}">
        <i class="far fa-edit"></i>
      </a>
      <a href="/close/{{post.id}}">
        <i class="fas fa-check"></i>
      </a>
      {% endif %}

      <div
        aria-hidden="true"
        aria-labelledby="requery_ModalLabel"
        class="modal fade"
        id="requery_Modal"
        role="dialog" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="requery_ModalLabel">Requery Dialog</h5>
              <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!-- for the case, whether old comments are available -->
            <div class="modal-body_1">
            </div>

            <div class="modal-body">
              <form method="post">

                <input
                  type="text"
                  class="form-control"
                  name="query_id"
                  readonly
                  value="{{ request.form['query_id'] }}" />

                <input
                  type="text"
                  class="form-control"
                  name="comment"
                  placeholder="your comment"
                  required
                  value="{{ request.form['comment'] }}" />

                <div class="modal-footer">
                  <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Close
                  </button>
                  <button class="btn btn-primary" name="button" type="submit" value="send_requery">
                    Send message
                  </button>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>

    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"></script>
{% endblock %}
