{% extends 'base.html' %} {% block title %} QC Planning {% endblock %} {% block
content %}
<div>
  {%- for breadcrumb in breadcrumbs -%}
  <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
  {{ '/' if not loop.last }} {%- endfor -%}
</div>
<h1>QC Planning</h1>

<form method="post">
  Prioritize the study: 
  <div class="form-group col-md-4">
    <select class="form-control" name="study" required>
      <option disabled selected value>-- select an option --</option>
      <option disabled="disabled">----</option>
      <!-- if user is not active yet, display it -->
      {% for study in studies %}
      <option value="{{ study }}">{{ study }}</option>

      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <button
      class="btn btn-primary"
      id="submit_table"
      style="float: left"
      type="submit"
    >
    Prioritize
    </button>
  </div>
</form>

{% endblock %} {% block js %}
<script
  src="{{ url_for('static', filename='js/data_entry.js') }}"
  type="text/javascript"
></script>
{% endblock %}
