{% extends "base.html" %} {% block title %} User Managment {% endblock %} {%
block content %} {% if current_user.is_authenticated %}
<div>
    {%- for breadcrumb in breadcrumbs -%}
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
        {{ '/' if not loop.last }}
    {%- endfor -%}
</div>
<h1 class="title">User Managment</h1>

<button onclick="location.href='/add_user'" type="button" class="btn btn-primary" style="float: left;">add User</button>
<br />
<br />

<h4>MedOps</h4>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Status</th>
      <th scope="col">User</th>
      <th scope="col">Role</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

    {% for user in Users %}
    {% if user.role == "MedOps" %}

    <tr>
        {% if user.active == 1
            %}
            <td>
                <span class="badge badge-danger"> Inactive </span>
            </td>
            {% else %}
            <td>
                <span class="badge badge-success"> Active </span>
            </td>
        {% endif %}
      <td>{{ user.abbrev }}</td>
      <td>{{ user.role }}</td>
      <td>
        <a href="/delete_user/{{user.id}}">delete</a>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
<br>
<h4>DM</h4>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Status</th>
      <th scope="col">User</th>
      <th scope="col">Role</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for user in Users %}
    {% if (user.role == "Data Entry" or user.role == "Data Manager") %}
    <tr>
        {% if user.active == 1
            %}
            <td>
                <span class="badge badge-danger"> Inactive </span>
            </td>
            {% else %}
            <td>
                <span class="badge badge-success"> Active </span>
            </td>
        {% endif %}      <td>{{ user.abbrev }}</td>
      <td>{{ user.role }}</td>
      <td>
        <a href="/delete_user/{{user.id}}">delete</a>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endif %} {% endblock %}
