.dashboard {
  &__tickets {
    .ticket {
      &__header {
        display: flex;
        cursor: pointer;
        &:hover {
          background-color: $white-bis;
        }
      }

      &__id {
        background-color: transparent !important;
      }

      &__id,
      &__study-internal-id,
      &__source-number {
        flex: 0 0 auto;
      }

      &__description {
        flex: 1 1 60%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden
      }

      &__tags {
        flex: 0 0 auto;
      }

      &__toggle {
        flex: 0 0 56px;
      }
    }
  }
}
