{% extends 'layout-page.html.j2' %}


{% from "components/section.html.j2" import render_section %}
{% from "utilities/_tags.j2" import render_tags %}


{#############################################################################}
{# META                                                                      #}
{#############################################################################}

{% block title %}Re-Check{% endblock %}

{% block page_title %}Re-Check{% endblock %}

{% block body_class %}Re-Check{% endblock %}


{#############################################################################}
{# CONTENT                                                                   #}
{#############################################################################}

{% block content %}

  {% with %}

    {% call render_section() %}
      <div class="dashboard__tickets" x-data="fss({
        searchKeys: ['internal_id', 'study_id', 'source_number', 'description'],
      })">

        <div class="field">
          <label class="label">Study</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select
                x-init="initSelect($el)"
                @change="setFilter('study_id', $el.choices.getValue().map( choice => choice.value ))"
                multiple >

                <option value="">
                  Select a Study
                </option>

                {% for study in study_list %}
                  <option value="{{ study.internal_id }}">
                    {{ study.internal_id }}
                  </option>
                {% endfor %}

              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Assignee</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select
                x-init="initSelect($el)"
                @change="setFilter('assignee_uuid', $el.choices.getValue().map( choice => choice.value ))"
                multiple >

                <option value="">
                  Select Someone
                </option>

                {% for user in user_list %}
                  <option value="{{ user.uuid }}">
                    {{ user.abbreviation }}
                  </option>
                {% endfor %}

              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Reporter</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select
                x-init="initSelect($el)"
                @change="setFilter('reporter_uuid', $el.choices.getValue().map( choice => choice.value ))"
                multiple >

                <option value="">
                  Select Someone
                </option>

                {% for user in user_list %}
                  <option value="{{ user.uuid }}">
                    {{ user.abbreviation }}
                  </option>
                {% endfor %}

              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Tags</label>
          <div class="control">
            <div class="select is-fullwidth">
               <select
                x-init="initSelect($el)"
                @change="setFilter('tag_uuids', $el.choices.getValue().map( choice => choice.value ))"
                multiple >

                <option value="">
                  Select some Tags
                </option>

                {% for tag in ticket_tag_list %}
                  <option value="{{ tag.uuid }}">
                    {{ tag.title }}
                  </option>
                {% endfor %}

              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Search</label>
          <div class="control">
            <input class="input" type="search" @input="search($el.value)" />
          </div>
        </div>

        {% if user_tickets|length > 0 %}
          <ul>
            {% for ticket in user_tickets %}
              {{ render_ticket(ticket) }}
            {% endfor %}
          </ul>
        {% else %}
          <div class="notification">
            There are no queries here. Go to Source-Check to add some queries!
          </div>
        {% endif %}

      </div>
    {% endcall %}

  {% endwith %}

{% endblock %}

{% block modals %}
  {% include "controller/ticket/comment/modal.html.j2" %}
{% endblock %}


{#############################################################################}
{# MACROS                                                                    #}
{#############################################################################}

{% macro render_ticket_old(ticket) %}
   <tr class="ticket">

    {# Status #}
    {# TODO: Make some kind of ticket status #}
    {% if ticket.is_corrected and not ticket.is_closed %}
      <td>
        <span class="tag is-warning">Requery</span>
      </td>
    {% elif ticket.is_closed %}
      <td>
        <span class="tag is-success">Closed</span>
      </td>
    {% else %}
      <td>
        <span class="tag is-danger">Open</span>
      </td>
    {% endif %}

    {# Internal Id #}
    <td class="is-family-monospace">
      {{ ticket.study.internal_id }}
    </td>

    {# Source number #}
    <td>
      {{ ticket.source_number }}
    </td>

      {# Type #}
    <td>
      {% if ticket.type == "ICF" %}
        <span class="tag is-info is-light">
          ICF
        </span>
      {% elif ticket.type == "Source" %}
        <span class="tag is-secondary is-light">
          Source
        </span>
      {% else %}
        {{ ticket.type }}
      {% endif %}
    </td>

    <td>
      {{ ticket.visit }}
    </td>

    <td>
      {{ ticket.page }}
    </td>

    <td>
      {{ ticket.procedure }}
    </td>

    <td class="ticket__description">
      {{ ticket.description }}
    </td>

    <td>
      {{ ticket.created_at.humanize()}}
    </td>

    {# Actions #}
    <td class="ticket__action">

      <button x-data
        class="button is-info is-light"
        title="Show Comments"

        @click="$dispatch('show-ticket-comments', { ticketId: '{{ ticket.uuid }}' })">
        <span class="icon">
          <i class="far fa-comments"></i>
        </span>
      </button>

      {% if current_user.role == "MedOps" %}
        <a
          href="{{ url_for( 'ticket_controller.mark_as_corrected', ticket_uuid=ticket.uuid ) }}"
          class="button is-success"
          title="Mark as Corrected">
          <span class="icon">
            <i class="far fa-check"></i>
          </span>
        </a>
      {% endif %}

      <!-- close the query if you have the right role permission -->
      {% if (current_user.role == "Admin" or current_user.role == "Data Entry" or current_user.role == "Data Manager") %}

        <a
          href="{{ url_for( 'ticket_controller.edit', ticket_uuid=ticket.uuid ) }}"
          class="button is-warning is-light"
          title="Edit Query">
          <span class="icon">
            <i class="far fa-edit"></i>
          </span>
        </a>

        <a
          href="{{ url_for( 'ticket_controller.close', ticket_uuid=ticket.uuid ) }}"
          class="button is-success"
          title="Makr as Done">
          <span class="icon">
            <i class="fas fa-check"></i>
          </span>
        </a>

      {% endif %}

    </td>
  </tr>
{% endmacro %}

{% macro render_ticket(ticket) %}
  <li
    class="ticket card mb-2"

    x-data="{ uuid: '{{ ticket.uuid }}', open: false }"
    x-show="fssItems.find( item => item.uuid === uuid)"

    data-fss-item-uuid="{{ ticket.uuid }}">

    <header class="ticket__header card-header is-align-items-center" @click="open=!open">

      <div class="ticket__header__id tag is-medium is-white has-text-weight-bold is-family-monospace">
        <i class="fa-solid fa-fingerprint mr-1"></i>
        <span data-fss-field="internal_id">
          {{ ticket.internal_id }}
        </span>
      </div>

      <div class="ticket__header__study-internal-id tag is-medium is-info is-light is-family-monospace">
        <i class="fa-regular fa-clipboard mr-1"></i>
        <span data-fss-field="study_id">
          {{ ticket.study.internal_id }}
        </span>
      </div>

      <div class="ticket__header__source-number tag is-medium is-link is-light is-family-monospace ml-3">
        <i class="fa-solid fa-person mr-1"></i>
        <span data-fss-field="source_number">
          {{ ticket.source_number }}
        </span>
      </div>

      <div class="ticket__header__description has-text-weight-normal is-single-line ml-3" x-show="!open">
        {{ ticket.description }}
      </div>

      <div class="has-text-weight-normal ml-3" x-show="!open">
        {{ render_tags(ticket.tags, limit=3, show_empty_message=false) }}
      </div>

      <div class="ticket__header__spacer" x-show="open"></div>

      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>

    </header>

    <div class="card-content" x-show="open">

      <div class="columns is-multiline">
        <div class="column is-7">

          <div class="block content">
            <div class="title is-6 mb-1">Desctiption</div>
            <p data-fss-field="description">
              {{ ticket.description }}
            </p>
          </div>

        </div>
        <div class="column is-5">

          <div class="block content">
            <div class="title is-6 mb-1">Tags</div>
            <p data-fss-field="tag_uuids" data-fss-value='{{ ticket.tags | map(attribute='uuid') | list | tojson | escape }}'>

              {{ render_tags(ticket.tags) }}
            </p>
          </div>

        </div>
        <div class="column is-2">

          <div class="block content">
            <div class="title is-6 mb-1">Assignee</div>
            <p data-fss-field="assignee_uuid" data-fss-value="{{ ticket.assignee.uuid }}">
              {{ ticket.assignee.abbreviation or 'JNP' }}
            </p>
          </div>

        </div>
        <div class="column is-2">

          <div class="block content">
            <div class="title is-6 mb-1">Reporter</div>
            <p data-fss-field="reporter_uuid" data-fss-value="{{ ticket.reporter.uuid }}">
              {{ ticket.reporter.abbreviation }}
            </p>
          </div>

        </div>
        <div class="column is-2">

          <div class="block content">
            <div class="title is-6 mb-1">Created at</div>
            <p>
              {{ ticket.created_at.humanize() }}
            </p>
          </div>

        </div>
        <div class="column is-2">

          <div class="block content">
            <div class="title is-6 mb-1">Visit</div>
            <p>
              {{ ticket.visit }}
            </p>
          </div>

        </div>
        <div class="column is-2">

          <div class="block content">
            <div class="title is-6 mb-1">Page</div>
            <p>
              {{ ticket.page }}
            </p>
          </div>

        </div>
        <div class="column is-2">

          <div class="block content">
            <div class="title is-6 mb-1">Procedure</div>
            <p>
              {{ ticket.procedure }}
            </p>
          </div>

        </div>
      </div>

    </div>

  </li>
{% endmacro %}
