{% extends 'layout-page.html.j2' %}


{% from "components/section.html.j2" import render_section %}
{% from "utilities/_tags.j2" import render_tags %}


{#############################################################################}
{# META                                                                      #}
{#############################################################################}

{% block title %}Re-Check{% endblock %}

{% block page_title %}Re-Check{% endblock %}

{% block body_class %}Re-Check{% endblock %}


{#############################################################################}
{# CONTENT                                                                   #}
{#############################################################################}

{% block content %}

  {% with %}

    {% call render_section() %}
      <div class="dashboard__tickets">
        {% for ticket in user_tickets %}
          {{ render_ticket(ticket) }}
        {% endfor %}
      </div>
    {% endcall %}

  {% endwith %}

{% endblock %}

{% block modals %}
  {% include "controller/ticket/comment/modal.html.j2" %}
{% endblock %}


{#############################################################################}
{# MACROS                                                                    #}
{#############################################################################}

{% macro render_ticket_old(ticket) %}
   <tr class="ticket">

    {# Status #}
    {# TODO: Make some kind of ticket status #}
    {% if ticket.is_corrected and not ticket.is_closed %}
      <td>
        <span class="tag is-warning">Requery</span>
      </td>
    {% elif ticket.is_closed %}
      <td>
        <span class="tag is-success">Closed</span>
      </td>
    {% else %}
      <td>
        <span class="tag is-danger">Open</span>
      </td>
    {% endif %}

    {# Internal Id #}
    <td class="is-family-monospace">
      {{ ticket.study.internal_id }}
    </td>

    {# Source number #}
    <td>
      {{ ticket.source_number }}
    </td>

      {# Type #}
    <td>
      {% if ticket.type == "ICF" %}
        <span class="tag is-info is-light">
          ICF
        </span>
      {% elif ticket.type == "Source" %}
        <span class="tag is-secondary is-light">
          Source
        </span>
      {% else %}
        {{ ticket.type }}
      {% endif %}
    </td>

    <td>
      {{ ticket.visit }}
    </td>

    <td>
      {{ ticket.page }}
    </td>

    <td>
      {{ ticket.procedure }}
    </td>

    <td class="ticket__description">
      {{ ticket.description }}
    </td>

    <td>
      {{ ticket.created_at.humanize()}}
    </td>

    {# Actions #}
    <td class="ticket__action">

      <button x-data
        class="button is-info is-light"
        title="Show Comments"

        @click="$dispatch('show-ticket-comments', { ticketId: '{{ ticket.uuid }}' })">
        <span class="icon">
          <i class="far fa-comments"></i>
        </span>
      </button>

      {% if current_user.role == "MedOps" %}
        <a
          href="{{ url_for( 'ticket_controller.mark_as_corrected', ticket_uuid=ticket.uuid ) }}"
          class="button is-success"
          title="Mark as Corrected">
          <span class="icon">
            <i class="far fa-check"></i>
          </span>
        </a>
      {% endif %}

      <!-- close the query if you have the right role permission -->
      {% if (current_user.role == "Admin" or current_user.role == "Data Entry" or current_user.role == "Data Manager") %}

        <a
          href="{{ url_for( 'ticket_controller.edit', ticket_uuid=ticket.uuid ) }}"
          class="button is-warning is-light"
          title="Edit Query">
          <span class="icon">
            <i class="far fa-edit"></i>
          </span>
        </a>

        <a
          href="{{ url_for( 'ticket_controller.close', ticket_uuid=ticket.uuid ) }}"
          class="button is-success"
          title="Makr as Done">
          <span class="icon">
            <i class="fas fa-check"></i>
          </span>
        </a>

      {% endif %}

    </td>
  </tr>
{% endmacro %}

{% macro render_ticket(ticket) %}
  <div class="ticket card mb-2" x-data="{ open: false }">

    <header class="ticket__header card-header is-align-items-center" @click="open=!open">

      <div class="ticket__id tag is-medium is-white">
        <i class="fa-solid fa-hashtag mr-1"></i>
        {{ ticket.study.internal_id }}
      </div>

      <div class="ticket__study-internal-id tag is-medium is-info is-light mr-3">
        <i class="fa-regular fa-clipboard mr-1"></i>
        {{ ticket.study.internal_id }}
      </div>

      <div class="ticket__source-number tag is-medium is-link is-light mr-3">
        <i class="fa-solid fa-person mr-1"></i>
        {{ ticket.source_number }}
      </div>

      <div class="ticket__description has-text-weight-normal is-single-line">
        {{ ticket.description }}
      </div>

      <div class="has-text-weight-normal">
        {{ render_tags(ticket.tags, limit=3) }}
      </div>

      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>

    </header>

    <div class="card-content" x-show="open">

      <div class="columns">
        <div class="column is-7">

          <p><strong>Description:</strong></p>
          <p>
            {{ ticket.description }}
          </p>

          <p><strong>Assignee:</strong></p>
          <p>
            {{ ticket.assignee.abbreviation }}
          </p>

          <p><strong>tags:</strong></p>
          <p>
            {{ render_tags(ticket.tags) }}
          </p>

          <div class="columns">
            <div class="column is-4">
              <p><strong>Visit:</strong></p>
              <p>
                {{ ticket.visit }}
              </p>
            </div>
            <div class="column is-4">
              <p><strong>Page:</strong></p>
              <p>
                {{ ticket.page }}
              </p>
            </div>
            <div class="column is-4">
              <p><strong>Procedure:</strong></p>
              <p>
                {{ ticket.procedure }}
              </p>
            </div>
          </div>


        </div>
        <div class="column is-5">
          <p><strong>comments:</strong></p>
          <p>
            {{ ticket.comments.all() }}
          </p>
        </div>
      </div>

      <div class="columns">
        <div class="column">

        </div>
        <div class="column">

        </div>
        <div class="column">

        </div>
        <div class="column">

        </div>
        <div class="column">
        
        </div>
        <div class="column">

        </div>
        <div class="column">
          <p><strong>created:</strong></p>
          <p>
            {{ ticket.created_at.humanize() }}
          </p>
        </div>
        <div class="column">

        </div>
        <div class="column">
          <p><strong>actions:</strong></p>
          <p>
            edit, mark as done
          </p>
        </div>
      </div>

    </div>

  </div>
{% endmacro %}
