{% extends "layout-plain-bulma.html.j2" %}


{% block title %}Reset your Password{% endblock %}

{% block body_class %}page-login{% endblock %}

{% block main %}
  <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center h-full">

    {% if get_flashed_messages() %}
      <div class="login-prompt mb-5">
        {% include "utils/_flash-bulma.html.j2" %}
      </div>
    {% endif %}

    <div class="login-prompt box">

      <h1 class="title">
        Reset your Password
      </h1>

      <form action="{{ url_for('profile_controller.request_password_reset_post') }}" method="POST">

        <div class="field mb-5">
          <label class="label">
            Your Abbreviation
          </label>
          <div class="control">
            <input type="text" class="login-prompt__input--abbreviation input is-medium" name="user_abbreviation" placeholder="XMP" autofocus="autofocus" required />
          </div>
        </div>

        <div class="field mb-5">
          <div class="control">
            <button class="button is-primary is-medium">Submit</button>
          </div>
        </div>

      </form>

    </div>

  </div>

</div>
{% endblock %}
