{% extends "base.html.j2" %}

{% block title %}
Request Password
{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Request Password Reset</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('profile_controller.request_password_reset_post') }}" method="POST">
      <div class="field">
        <div class="control">
          <input autofocus="" class="input is-large" name="user_abbreviation" placeholder="Your Abbreviation" required type="text">
        </div>
      </div>
      <br>
      <div class="field">
        <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
