{% extends 'layout-page.html.j2' %}


{% from "components/section.html.j2" import render_section %}

{% from "utilities/_errors.html.j2" import render_errors %}


{#############################################################################}
{# META                                                                      #}
{#############################################################################}

{% block title %}Edit Query{% endblock %}

{% block page_title %}Queries{% endblock %}


{#############################################################################}
{# CONTENT                                                                   #}
{#############################################################################}

{% block content %}

  {% with %}

    {% call render_section(
      title='Edit Query ' ~ ticket.uuid,
      sub_title='Made an error? No worries, fix it here. I\'ll keep track of the changes for you') %}
      <form
        action="{{ url_for('ticket_controller.edit_post', ticket_uuid=ticket.uuid) }}"
        method="POST">

        {{ render_errors(errors) }}

        <h2 class="title is-4">General Information</h2>

        <div class="columns">

          <div class="column">
            <div class="field mb-5">
              <label class="label" for="study_uuid">
                Study
              </label>
              <div class="control">
                <div class="select is-medium is-fullwidth">
                  <select name="study_uuid" required>

                    {% for study in study_list %}
                      <option
                        value="{{ study.uuid }}"
                        {{ "selected" if study.uuid == ticket.study_uuid }}>
                        {{ study.internal_id }}
                      </option>
                    {% endfor %}

                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field mb-5">
              <label class="label" for="source_number">
                Source Number
              </label>
              <div class="control">
                <input
                  name="source_number"
                  class="input is-medium"
                  value="{{ ticket.source_number }}"
                  type="number"
                  min="0"
                  required />
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field mb-5">
              <div class="label">
                Document-Type
              </div>
              <div class="control">
                {% for source_type in available_source_types %}
                  <label class="radio button is-medium is-info is-light">
                    <input
                      name="type"
                      value="{{ source_type }}"
                      type="radio"
                      required
                      {{ "checked" if source_type == ticket.type }}/>
                    {{ source_type }}
                  </label>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>

        <h2 class="title is-4">Query Information</h2>

        <table class="table is-striped is-hoverable is-fullwidth mb-6">
          <thead class="thead-light">
            <tr>
              <th scope="col">Visit</th>
              <th scope="col">Page</th>
              <th scope="col">Procedure</th>
              <th scope="col">Description</th>
              <th scope="col">Assignee</th>
            </tr>
          </thead>
          <tbody>
            <tr>

              <td>
                <div class="control">
                  <input
                    name="visit"
                    class="input"
                    value="{{ ticket.visit }}"
                    type="text"
                    maxlength="10"
                    required />
                </div>
              </td>

              <td>
                <div class="control">
                  <input
                    name="page"
                    class="input"
                    value="{{ ticket.page }}"
                    type="text"
                    maxlength="10"
                    required />
                </div>
              </td>

              <td>
                <div class="control">
                  <input
                    name="procedure"
                    class="input"
                    value="{{ ticket.procedure }}"
                    type="text"
                    maxlength="20"
                    required />
                </div>
              </td>

              <td>
                <textarea
                  name="description"
                  maxlength="100"
                  class="textarea">{{ ticket.description }}</textarea>
              </td>

              <td>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="assignee_uuid" required>

                      {% for user in staff_list_medops %}
                        <option
                          value="{{ user.uuid }}"
                          {{ "selected" if user.uuid == ticket.assignee_uuid }}>
                          {{ user.abbreviation }}
                        </option>
                      {% endfor %}

                    </select>
                  </div>
                </div>
              </td>

            </tr>
          </tbody>
        </table>

        <button
          class="button is-primary is-medium mr-3"
          type="submit">
          Save
        </button>

        <a
          href="{{ url_for('dashboard_controller.index') }}"
          class="button is-danger is-light is-medium">
          Abort
        </a>

      </form>
    {% endcall %}

  {% endwith %}

{% endblock %}


{#############################################################################}
{# MACROS                                                                    #}
{#############################################################################}
