{% extends 'layout-page.html.j2' %}

{% from "components/section.html.j2" import render_section %}

{% from "utilities/_errors.html.j2" import render_errors %}


{#############################################################################}
{# META                                                                      #}
{#############################################################################}

{% block title %}Source-Check{% endblock %}

{% block page_title %}Source-Check{% endblock %}

{% block page_column_class %}is-two-thirds{% endblock %}


{#############################################################################}
{# CONTENT                                                                   #}
{#############################################################################}

{% block content %}

  {% with %}

    {% call render_section() %}
      <form
        x-data="ticket_new"

        action="{{ url_for('ticket_controller.new_post') }}"
        method="POST">

        {{ render_errors(errors) }}


        <h2 class="title is-4">General Information</h2>

        <div class="columns">

          <div class="column">
            <div class="field">
              <label class="label" for="study_uuid">
                Study
              </label>
              <div class="control">
                <div class="select is-medium is-fullwidth">
                  <select name="study_uuid" data-choice-js required autofocus>

                    <option value="">
                      Select a Study
                    </option>

                    {% for study in study_list %}
                      <option value="{{ study.uuid }}">
                        {{ study.internal_id }}
                      </option>
                    {% endfor %}

                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field mb-5">
              <label class="label" for="source_number">
                Source Number
              </label>
              <div class="control">
                <input type="number" min="0" class="input is-medium" name="source_number" required />
              </div>
            </div>
          </div>

        </div>


        <h2 class="title is-4">Queries</h2>

        <template x-for="(ticket, index) in tickets" :key="ticket.uuid">
          <div class="card mb-6">

            {# <header class="card-header is-align-items-center">

              <p class="card-header-title">
                Query
              </p>

              <button class="card-header-icon">
                <span class="icon">
                  <i class="fas fa-angle-down"></i>
                </span>
              </button>

            </header> #}

            <div class="card-content">

              <div class="field">
                <label class="label">Description</label>
                <div class="control">
                  <textarea
                    x-bind:name="`ticket[${index}][description]`"
                    placeholder="What's the matter?"
                    maxlength="100"
                    class="textarea"></textarea>
                </div>
              </div>

              <div class="field">
                <label class="label">Assignee</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select x-bind:name="`ticket[${index}][assignee_uuid]`" x-init="initSelect($el)" required>

                      <option value="">
                        Select Someone
                      </option>

                      {% for user in staff_list_medops %}
                        <option value="{{ user.uuid }}">
                          {{ user.abbreviation }}
                        </option>
                      {% endfor %}

                    </select>
                  </div>
                </div>
              </div>

              <div class="columns mb-0">
                <div class="column">

                  <div class="field">
                    <label class="label">Visit</label>
                    <div class="control">
                      <input
                        x-bind:name="`ticket[${index}][visit]`"
                        class="input"
                        type="text"
                        maxlength="10"
                        required />
                    </div>
                  </div>

                </div>
                <div class="column">

                  <div class="field">
                    <label class="label">Page</label>
                    <div class="control">
                      <input
                        x-bind:name="`ticket[${index}][page]`"
                        class="input"
                        type="text"
                        maxlength="10"
                        required />
                    </div>
                  </div>

                </div>
                <div class="column">

                  <div class="field">
                    <label class="label">Procedure</label>
                    <div class="control">
                      <input
                        x-bind:name="`ticket[${index}][procedure]`"
                        class="input"
                        type="text"
                        maxlength="20"
                        required />
                    </div>
                  </div>

                </div>
              </div>

              <div class="field">
                <label class="label">Tags</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select x-bind:name="`ticket[${index}][tags]`" x-init="initSelect($el)" multiple>

                      <option value="">
                        Add some Tags
                      </option>

                      {% for tag in ticket_tags %}
                        <option value="{{ tag.uuid }}">
                          {{ tag.title }}
                        </option>
                      {% endfor %}

                    </select>
                  </div>
                </div>
              </div>

              <div class="field mt-5">

                <div class="control">
                  <button
                    class="button is-danger is-light"
                    type="button"

                    @click="removeTicketByUuid(ticket.uuid)">
                    <span class="icon is-small">
                      <i class="far fa-times-circle"></i>
                    </span>
                    <span>Remove</span>
                  </button>
                </div>

              </div>

            </div>
          </div>
        </template>

        <div class="field is-grouped is-grouped-right">

          <div class="control">
            <button
              class="button is-success is-medium is-light mr-3"
              type="button"

              @click="addTicket()">
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
              <span>
                Add Query
              </span>
            </button>
          </div>

          <div class="control">
            <button
              class="button is-primary is-medium"
              type="submit">
              Save all
            </button>
          </div>

        </div>

      </form>
    {% endcall %}

  {% endwith %}

{% endblock %}


{#############################################################################}
{# MACROS                                                                    #}
{#############################################################################}
