{% extends 'layout-page.html.j2' %}


{% from "components/section.html.j2" import render_section %}


{#############################################################################}
{# META                                                                      #}
{#############################################################################}

{% block title %}Home{% endblock %}

{% block page_title %}Home{% endblock %}

{% block body_class %}Home{% endblock %}


{#############################################################################}
{# CONTENT                                                                   #}
{#############################################################################}

{% block content %}

  {% call render_section() %}
    Hi.
  {% endcall %}

{% endblock %}


{#############################################################################}
{# MACROS                                                                    #}
{#############################################################################}
