{% extends 'layout-page.html.j2' %}


{% from "components/section.html.j2" import render_section %}


{#############################################################################}
{# META                                                                      #}
{#############################################################################}

{% block title %}Home{% endblock %}

{% block page_title %}Home{% endblock %}

{% block body_class %}page-home{% endblock %}


{#############################################################################}
{# CONTENT                                                                   #}
{#############################################################################}

{% block content %}

  {% call render_section(
    title='Welcome back!',
    sub_title='What are you up to today?') %}

    <nav class="columns">

      <div class="column is-3">
        <a href="{{ url_for('ticket_controller.new') }}">
          <div class="card is-square has-background-primary has-text-white">

            <div class="card-image px-5 pt-5">
              <figure class="image is-4by3">
                <img src="{{ asset('static/images/icons/source-check.png') }}" class="is-object-fit-contain" alt="Source-Check">
              </figure>
            </div>

            <div class="card-content is-size-4 has-text-weight-semibold">
              Source-Check
            </div>

          </div>
        </a>
      </div>

      <div class="column is-3">
        <a href="{{ url_for('dashboard_controller.index') }}">
          <div class="card is-square has-background-info has-text-white">

            <div class="card-image px-5 pt-5">
              <figure class="image is-4by3">
                <img src="{{ asset('static/images/icons/re-check.png') }}" class="is-object-fit-contain" alt="Placeholder image">
              </figure>
            </div>

            <div class="card-content is-size-4 has-text-weight-semibold">
              Re-Check
            </div>

          </div>
        </a>
      </div>

    </nav>
  {% endcall %}

{% endblock %}


{#############################################################################}
{# MACROS                                                                    #}
{#############################################################################}
